{% extends "base.html" %}
{% block content %}
<div class="article-entry">
    <h2 class="text-3xl font-bold py-2">{{object.title}}</h2>
    <p class="py-2">by {{object.author}}| {{object.date}}
    </p>
    <p class="py-2">{{object.body}}</p>
</div>
<p class="py-2">
    <a href="{% url 'article_edit' article.pk%}" class="text-blue-500">Edit </a> |
    <a href="{% url 'article_delete' article.pk %}"class="text-blue-500">Delete </a>
</p>
<p class="py-2">Back to <a href="{% url 'article_list' %}"class="text-blue-500">All Articles</a>.</p>
{% endblock content %}