
    {% extends 'base.html'%}
    {% load widget_tweaks%}
    {% block title %}Forgot Your Password?{% endblock title %}
    {% block content %}

    <div class="ml-5">
        <h1 class="text-3xl my-2">Forgot Your Password?</h1>
        <p class="mt-2 mb-5">Enter your email address below, and we'll email instructions for setting a new one.</p>
        <form method="POST">
            {% csrf_token %}

            <div>
                <div class="mb-2">
                    <label for="id_email">Email*</label>
                </div>
                {% render_field form.email type="email" class="rounded-lg w-full"%}
            </div>
            <input class="mt-3 py-2 px-2 border-solid bg-green-600 text-white rounded-lg" type="submit"
                value="Send me instructions!"/>
        </form>
    </div>
    {% endblock content %}