{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}Password Change{% endblock title %}
{% block content %}

<div class="ml-5">
    <h1 class="text-3xl font-bold mb-3">Password Change</h1>
    <p class="">Please enter your old password, for security's sake, and then enter your new password twice so we
        can verify
        you
        typed it in correctly.</p>
    <form method="post" class="bg-white shadow-md rounded  pt-2 pb-8 mb-4">{% csrf_token %}
        <div>
            <div class="mb-2">
                <label for="id_old_password" class="">Old Password*</label>
            </div>
            {% render_field form.old_password type="password" class="rounded-lg w-full mb-5"%}
        </div>
        <div class="mb-5">
            <div class="mb-2">
                <label for="id_new_password1">New Password* </label>
            </div>

            {% render_field form.new_password1 type="password" class="rounded-lg w-full" %}
            <ul class=" ml-6 text-gray-500 list-disc">
                <li>Your password can’t be too similar to your other personal information.</li>
                <li>Your password must contain at least 8 characters.</li>
                <li>Your password can’t be a commonly used password.</li>
                <li>Your password can’t be entirely numeric.</li>
            </ul>
        </div>

        <div class="mb-5">
            <div class="mb-2">
                <label for="id_new_password2">New Password Confirmation*</label>
            </div>
            {% render_field form.new_password2 type="password" class="rounded-lg w-full"%}
        </div>

        <input class="btn btn-success border-solid py-2 px-2 bg-green-700 text-white" type="submit"
            value="Change my password" />
</div>
{% endblock content %}