{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Newspaper App {% endblock title %}</title>
    {% tailwind_css %}
</head>

<body class="ml-5">
    <header>
        <div class="float-right ml-2 border-solid border-4 border-blue-700 bg-blue-700 rounded px-4 py-1 font-bold">
            <a href="{% url 'signup' %}" class="text-white">Sign up</a>
        </div>
        <div class="float-right border-solid border-4 border-blue-700 rounded px-4 py-1 font-bold">
            <a href="{% url 'login' %}" class="text-blue-700">Log In</a>
        </div>
        <div class="flex my-3 text-2xl text-blue-700">Newspaper</div>
        <hr>
    </header>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
</body>

</html>