<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info</title>
    <style>
        h1 {
            color: brown;
        }
        p{
            text-decoration: line-through;
        }

    </style>
</head>

<body>
    {% extends "base.html" %} {% block content %}
    <header>
        <h1>Info Page</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
            electronic</p>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking
            at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
            as opposed to using 'Content here, content here', making it look like readable English. Many desktop
            publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for
            'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the
            years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
        <table border="1">
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Gender</th>
            </tr>
            <tr>
                <td>Aldaraa</td>
                <td>21</td>
                <td>Male</td>
            </tr>
            <tr>
                <td>Gerele</td>
                <td>20</td>
                <td>Female</td>
            </tr>
            <tr>
                <td>Boldoo</td>
                <td>22</td>
                <td>Male</td>
            </tr>
        </table>
    </header>
    {% endblock content %}

</body>

</html>