<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body class="mx-10">
    {% extends "base.html" %}
    {% block title %}Home{% endblock title %}
    {% block content %}
    <div class="ml-5">
        <div class="float-right ml-2 border-solid border-4 border-blue-700 bg-blue-700 rounded px-4 py-1 font-bold">
            <a href="{% url 'signup' %}" class="text-white">Sign up</a>
        </div>
        <div class="float-right border-solid border-4 border-blue-700 rounded px-4 py-1 font-bold">
            <a href="{% url 'login' %}" class="text-blue-700">Log In</a>
        </div>
        <div class="flex my-3 text-2xl text-blue-700">Newspaper</div>

        <hr>
    </div>
    {% if user.is_authenticated %} Hi {{ user.username }}! You are {{ user.age }} years old.

    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Log Out</button>
    </form>
    {% else %}
    <p>You are not logged in</p>


    <div class="container mx-auto mt-10">
        <h1 class="text-3xl font-semibold">Rendered from Pages</h1>
        <p class="mt-4">This is content rendered from Pages</p>
    </div>
    {% endif %}
    {% endblock content %}
</body>

</html>